{% if show_notice %}
<div class="notice notice-info is-dismissible" id="{{ div_id }}">
    <p>{{ first_line }}<br>{{ second_line | raw }}</p>
    <p>
        <a id="translations_control" class="translations_control button-secondary" href="{{ button_url | raw }}">
            {{ button_text }}
        </a>
    </p>
</div>
{% endif %}