<h1>{{ strings.heading }}</h1>

<p>{{ strings.description }}</p>

<ul class="no-bullets">
    <li>
        <label>
            <input type="radio" name="translation_interface" value="{{ translation_interface_wpml }}"
            {% if translation_interface == translation_interface_wpml %} checked="checked"{% endif %} />
            {{ label_wpml_editor }}
        </label>
    </li>
    <li>
        <label>
            <input type="radio" name="translation_interface" value="{{ translation_interface_native }}"
            {% if translation_interface == translation_interface_native %} checked="checked"{% endif %} />
            {{ label_native_editor }}
        </label>
    </li>
</ul>


<p class="wcml-setup-actions step">
    <a href="{{ continue_url }}" class="button button-primary button-large submit">{{ strings.continue }}</a>
</p>


